@import "tailwindcss";

:root {
    --background: linear-gradient(180deg, #140021 0%, #2c0383 100%);
    --foreground: #390a59;
    --primary: #9900FF;
    --secondary: #7700c6;
    --accent: #560090;
    --text-color: #FFFFFF;
}

/* global.css */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}
