@import "tailwindcss";

:root {
  --background: linear-gradient(180deg, #140021 0%, #2c0383 100%);
  /* --foreground: #390a59;
  --primary: #9900FF;
  --secondary: #7700c6;
  --accent: #560090;
  --text-color: #FFFFFF; */

  --primary-900: rgba(28, 56, 142, 0.3);
  --primary-800: #193cb8;
  --primary-400: #51a2ff;

  --secondary-900: rgba(16, 78, 100, 0.3);
  --secondary-800: #005f78;
  --secondary-400: #00d3f2;

  --accent-900: rgba(13, 84, 43, 0.3);
  --accent-800: #026630;
  --accent-400: #06df72;

  --highlight-900: rgba(123, 51, 6, 0.3);
  --highlight-800: #973c00;
  --highlight-400: #ffb900;

  --muted-400: oklch(70.4% 0.04 256.788);

  --text-color: #FFFFFF;
}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: var(--background) no-repeat center center fixed;
  background-size: cover;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
}

.gradient-text-purple {
  color: transparent;
  background-image: linear-gradient(to right,
      #60a5fa,
      /* blue-400 */
      #818cf8,
      /* indigo-400 */
      #a855f7
      /* purple-500 */
    );
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-text-green {
  color: transparent;
  background-image: linear-gradient(to right,
      #60a5fa,
      /* blue-400 */
      #22d3ee,
      /* cyan-400 */
      #10b981
      /* emerald-500 */
    );
  background-clip: text;
  -webkit-background-clip: text;
}